doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    script.
      console.log("I am actually a  js logic");
      function abc(){
      console.log("I am abc fun");
      }
      abc();
  body
    h1  Hello #{firstName} #{lastName}